* {
  scroll-behavior: smooth;
}

.tab-trigger[data-state='active'] {
  background-color: #4caf50;
  /* Màu nền khi active */
  color: white;
  /* Màu chữ khi active */
}

.tab-trigger {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
